html {
  scroll-behavior: smooth;
}

body{
  background-color: #090618 ;
  font-family: 'Ubuntu', sans-serif;

}

.nana{
  display: none;
}

#center{
  margin-left: 8SSrem;
}

.search{
  position: absolute;
  top: 0.4rem;
  right: 1rem;
}
.title{
  margin-left: 1rem;
}

.navbar{
  margin-top: 1rem;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 0rem;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(35px);
  border: 2px solid rgba(255, 248, 248, 0.809);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.sidebr{
  margin-top: 2rem;
}

.box {
  background: rgb(242, 242, 242);
  backdrop-filter: blur(50px);
  background: linear-gradient(180deg, rgb(242, 242, 242) 14%, rgba(9,6,24,1) 86%, transparent);
  /* border: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  border-left: 3px solid #ffffff; */
  height: 60vh;
  width: 19vw;
  box-shadow: -0.7rem 2rem 1rem 1rem rgba(0, 0, 0, 0.47);
  display: inline-block;
  margin-left: 3rem;
  margin-top: 2rem;
  position: relative;
  border-radius: 1rem 1rem 1rem 1rem;
}

img{
  border-radius: 4px;
}

.select{
  height: 3rem;
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
} 

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:#fff;
  -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}

.noxy:hover .nox{

  transform: scale(1);
  }
  
  .noxy:hover .nox:hover{
    transform: scale(1.1);
    filter: blur(0px);
    z-index: 99;
  
  }

  .side{
    color: #fff;
    width: 14rem;
    border-radius: 36px;
    background: #090618;
    box-shadow: inset 11px 11px 22px #5a5a5a,
                inset -11px -11px 22px #ffffff;
    height: 44vh;
    margin-top: 2rem;
    padding: 1rem 2rem 0rem 0rem;
    transition: 500ms ease-in;
  }

  .sideOn{
    color: #fff;
    width: 14rem;
    border-radius: 36px;
    background: #090618;
    box-shadow: inset 11px 11px 22px #5a5a5a,
                inset -11px -11px 22px #74f6ff;
    height: 44vh;
    margin-top: 6rem;
    padding: 1rem 2rem 0rem 0rem;
  }

  #page{
    font-size: 2rem;
  }

  .judul{
    font-size: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.268);
    border-radius: 0.4rem;
    height: auto;
    position: absolute;
    align-items: center;
    padding: 0rem 1rem;
  }

  .desc {
    position: absolute;
    bottom: -1000px;
    left: 0;
    padding: 20px;
    background: linear-gradient(0deg, black, transparent);
    transition: 0.3s ease;
}

.box:hover .desc {
    bottom: 0;
}

.desc p {
    font-size: 12px;
    color: #ffffff  ;
}

.vl {
  border-left: 3px solid rgb(255, 255, 255);
  height: 200px;
  margin-top: 3rem;
  position: absolute;
  padding: 3rem 0rem 0rem 3rem;
  color: #ffffff;
}

.buton{
  background-color: #ffffff;
}